PGUSER=
PGDATABASE=
PGPASSWORD=
PGHOST=
PGPORT=
EXTERNALWEBPORT=
APIPORT=



-----------------

Create env-secret.yml in /k8/
apiVersion: v1
kind: Secret
metadata:
  name: env-secret
data:
  key: 'value'
